@font-face {
	font-family: Galaxy;
	src: url('fuentes/galaxy.ttf') format('truetype');
}
html, body {
	font-size: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	color: #fff;
}
html {
	background: #000 url(imagenes/fondo.jpg) no-repeat top center;
	background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.imagenes/fondo.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='imagenes/fondo.jpg', sizingMethod='scale')";
}
div#contenedor {
	width: 100%;
	text-align: center;
}
nav {
	width: 100%;
	display: block;
	vertical-align: middle;
	font-family: Impact;
	padding: 0;
	margin: 0;
	font-size: 1em;
}
@media (max-width: 820px) {
	nav {
		font-size: 95%;
	}
}
@media (max-width: 740px) {
	nav {
		font-size: 80%;
	}
}
@keyframes rotacion {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
@-webkit-keyframes rotacion {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}
nav li {
	text-align: center;
	list-style-type: none;
	display: inline-block;
	background: #fff;
	border-radius: 50%;
	overflow: hidden;
	width: 7em;
	height: 1em;
	padding: 3em 0em;
	margin: 1em;
	animation-name: rotacion;
	-webkit-animation-name: rotacion;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-duration: 85s;
    -webkit-animation-duration: 85s;
}
@media (max-width: 650px) {
	nav li {
		margin: 0.1em;
	}
}
nav li:hover {
	animation-name: none;
}
nav li a { 
	text-decoration: none;
}
nav li#nosotros {
	background: url(imagenes/planetas/venus.png);
	background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	-o-background-size: 100% 100%;
}
nav li#nosotros a {
	color: #775931;
	text-shadow: 0 0 3px #fff;
}
nav li#servicios {
	background: url(imagenes/planetas/jupiter.png);
	background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	-o-background-size: 100% 100%;
}
nav li#servicios a {
	color: #775931;
	text-shadow: 0 0 3px #fff;
}
nav li#inicio {
	background: url(imagenes/planetas/tierra.png);
	background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	-o-background-size: 100% 100%;
}
nav li#inicio a {
	color: #eee;
	text-shadow: 0 0 3px #000;
}
nav li#portafolio {
	background: url(imagenes/planetas/mercurio.png);
	background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	-o-background-size: 100% 100%;
}
nav li#portafolio a {
	color: #775931;
	text-shadow: 0 0 3px #fff;
}
nav li#contactenos {
	background: url(imagenes/planetas/io.png);
	background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	-o-background-size: 100% 100%;
}
nav li#contactenos a {
	color: #775931;
	text-shadow: 0 0 3px #fff;
}
div#arranque {
    width: 100%;
    text-align: center;
}
div#arranque img#logo {
    width: 200px;
}
div#arranque img#nombre {
    width: 300px;
}
@media (min-width: 1150px){
	div#arranque img#logo {
	    width: 250px;
	}
	div#arranque img#nombre {
	    width: 400px;
	}
}
@media (max-width: 305px){
	div#arranque img#logo {
	    width: 52%;
	}
	div#arranque img#nombre {
	    width: 90%;
	}
}
